{% ckan_extends %}
{% set case_studies = h.get_featured_groups() %}
{% if case_studies|length > 0 %}
    {% set case_study = case_studies[0].display_name %}
    {% set case_image = case_studies[0].image_display_url %}
{% else %}
    {% set case_study = "" %}
    {% set case_image = "" %}
{% endif %}

{% block home_image_caption %}{% if case_study !="" %}{{ case_study }}{% else %}No case studies{% endif %}{% endblock %}

{% block home_image_content %}
    {% if case_study !="" %}
        <a class="media-image" href="#">
            <img class="img-responsive" src="{{ case_image }}" alt="Placeholder" width="420" height="220" />
        </a>
    {% endif %}
{% endblock %}

