<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('What are Case Studies?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
        Use Case Studies to showcase collections of datasets.
        This could be an output of a particular project e.g., a blog,
        using several datasets to create a story, or a very simple step-by-step guide to help people use
        your datasets in an actionable way.
      {% endtrans %}
    </p>
  </div>
</div>