include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/plazametadata *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/plazametadata/migration *.ini *.py *.mako
